body {
	margin:0;
	padding:0;
	background: black;
	color: white;
}

body * {
	background: black;
	color: white;
}

#header {
	position: fixed;
	top: 0;
	width:100%;
	height: 2em;
	border-bottom: 1px solid white;
	background: black;
	z-index: 1;
}

a {
	color: white;
}

#header .tab {
	display: block;
  float: left;
	box-sizing: border-box;
	padding: 0.5em;
	height: 2em;
	text-decoration: none;
}

#header .tab.selected {
	background: white;
	color: black;
}

div.page {
	display: none;
	margin-top: 2em;
	z-index:0;
}

#touchpage {
	position: fixed;
	overflow: hidden;
	padding: 0;
	margin: 0;
	top: 2em;
	bottom: 0;
	width: 100%;
}

.touchpad {
	border: 1px solid gray;
	background: black;
	color: white;
}

#touchpad {
	position: absolute;
	top:0;
	bottom:20%;
	left:0;
	right:0;
}

button, .button {
	background: black;
	color: white;
	box-sizing: border-box;
	border: 1px outset gray;
	padding:0;
	margin:0;
	user-select: none;
}

button.down, .button.down {
	background-color: green;
	border-style: inset;
}

button.pressed, .button.pressed {
	border-style: inset;
}

button.locked, .button.locked {
	border: 2px inset red;
}

#button_left {
	position: absolute;
	top:80%;
	bottom:0;
	left:0;
	right:50%;
}

#button_right {
	position: absolute;
	top:80%;
	bottom:0;
	left:50%;
	right:0;
}

#keypage {
	padding-top: 0.5em;
}

#keypage .container {
	width: 100vw;
	max-width: 10cm;
	height: 15vw;
	max-height: 1.5cm;
	display: block;
	position: relative;
}

#keypage button.modifier {
	min-width : 2cm;
	min-height: 1cm;
}
#keypage button.key {
	min-width : 1cm;
	min-height: 1cm;
}

#keypage .group {
	overflow: hidden;
	position: absolute;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#keypage .group.input {
	top: 0;
	left: 0;
	width: 33%;
	height: 200%;
}
#keypage .group.input input.keyinput {
	width: 100%;
	height: 100%;
	background:	black;
	color: transparent;
	text-align: center;
}

#keypage .group.modifiers {
	top: 0;
	left: 33%;
	width: 67%;
	height: 200%;
}
#keypage .group.modifiers button.modifier {
	width:50%;
	height:50%;
}

#keypage .group.etid {
	top: 200%;
	left: 0;
	width: 100%;
	height: 100%;
}
#keypage .group.etid button.key {
	width:25%;
	height:100%;
}

#keypage .group.navigations {
	top: 300%;
	left: 0;
	width: 100%;
	height: 200%;
}
#keypage .group.navigations button.key {
	width:25%;
	height:50%;
}

#keypage .group.function {
	top: 500%;
	left: 0;
	width: 100%;
	height: 200%;
}
#keypage .group.function button.key {
	width: 16.5%;
	height: 50%;
}	

#keypage .group.media {
	top: 700%;
	left: 0;
	width: 100%;
	height: 200%;
}
#keypage .group.media button.key {
	width: 20%;
	height: 50%;
}	

#reload {
	position: fixed;
	overflow: hidden;
	padding: 0;
	margin: 0;
	top: 30px;
	bottom: 0;
	width: 100%;
	display: flex;
  justify-content: center;
  align-items: center;
	text-align: center;
}

#reload a {
	display: block;
	margin: 20px 0;
}

#logpage .clear {
	position: fixed;
	top: 41px;
	right: 20px;
}

#log {
	padding: 0.5em;
}

#log p {
	margin:0;
	font-size: 75%;
}

/*ttc testing*/
#ttcpage p {
	margin:0;
}
#ttcpage .outer {
	box-sizing: border-box;
	width : 8cm;
	height: 8cm;
	border: 1px outset white;
	margin: auto;
	user-select: none;
}
#ttcpage .inner {
	box-sizing: border-box;
	width : 4cm;
	height: 4cm;
	border: 1px outset white;
	position:relative;
	left: 2cm;
	user-select: none;
}
#ttcpage .outer.down,
#ttcpage .inner.down {
	border: 1px inset white;
}
