body {
	margin:0;
	padding:0;
	background: black;
	color: white;
}

#header {
	position: fixed;
	top: 0;
	width:100%;
	box-sizing: border-box;
	height: 2em;
	border-bottom: 1px solid white;
	background: black;
}

a {
	color: white;
}

#header .tab {
	display: block;
  float: left;
	box-sizing: border-box;
	padding: 0.5em;
	height: 2em;
	text-decoration: none;
}

#header .tab.selected {
	background: white;
	color: black;
}

div.page {
	display: none;
	margin-top: 2em;
}

#touchpage {
	position: fixed;
	overflow: hidden;
	padding: 0;
	margin: 0;
	top: 2em;
	bottom: 0;
	width: 100%;
}

.touchpad {
	border: 1px solid gray;
}

#touchpad {
	position: absolute;
	top:0;
	bottom:20%;
	left:0;
	right:0;
}

.touchbutton {
	border: 1px solid gray;
}

.touchbutton.down {
	background-color: green;
}

.touchbutton.locked {
	border: 2px solid red;
}

#button_left {
	position: absolute;
	top:80%;
	bottom:0;
	left:0;
	right:50%;
}

#button_right {
	position: absolute;
	top:80%;
	bottom:0;
	left:50%;
	right:0;
}

#keypage {
	padding-top: 0.5em;
}

#keypage .row {
	min-height: 3em;
	width:96%;
	padding: 0 2%;
	display: flex;
  justify-content: center;
  align-items: center;
	text-align: center;
}

#keypage input.keyinput {
	box-sizing: border-box;
	width: 70%;
	height: 2em;
}

#keypage a.focus {
	box-sizing: border-box;
	width: 30%;
}

#ctrl, #alt, #shift {
	display: flex;
	box-sizing: border-box;
	width: 30%;
	height: 2em;
	margin: 0 2.5%;
	justify-content: center;
	text-align: center;
	align-items: center;
}

#ctrl {
	margin-left: 0;
}

#shift {
	margin-right: 0;
}

#reload {
	position: fixed;
	overflow: hidden;
	padding: 0;
	margin: 0;
	top: 30px;
	bottom: 0;
	width: 100%;
	display: flex;
  justify-content: center;
  align-items: center;
	text-align: center;
}

#reload a {
	display: block;
	margin: 20px 0;
}

#logpage .clear {
	position: fixed;
	top: 41px;
	right: 20px;
}

#log {
	padding: 0.5em;
}

#log p {
	margin:0;
	font-size: 75%;
}
