<!DOCTYPE html>
<html>
	<head>
		<title>xRemoteControl | pair</title>

		<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="/js/pair.js"></script>
<style>
body {
	margin:0;
	padding:0;
	background: black;
	color: white;
}
body * {
	background: black;
	color: white;
}
		/*TODO style page */
</style>
	</head>
	<body>
		<form id="pair_form">
			<input type="text" name="passphrase" placeholder="type passphrase" autofocus />
			<input type="submit" name="submit" value="submiit"/>
		</form>
	</body>
</html>
