<!DOCTYPE html>
<html>
	<head>
		<title>xRemoteControl | pair</title>
<style>
body {
	margin:0;
	padding:0;
	background: black;
	color: white;
}
body * {
	background: black;
	color: white;
}
</style>
	</head>
	<body>
		pair
	</body>
</html>
