<html>
	<head>
		<title>xRemoteControl</title>
		<meta name="viewport" content="width=device-width,user-scalable=no">
		<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
		<script type="text/javascript">
function Touchpad(e) {
	this.socket = null;
	this.pad = $(e);
	this.touches = new Map();
	this.click = function(button) {
		//this.log("click "+button);
		this.socket.send(JSON.stringify({
			type: "click",
			data:{
				button: button
			}
		}));
	};
	this.clickLeft = function() {
		this.click("left");
	}
	this.clickRight = function() {
		this.click("right");
	}
	this.touchstart = function(e) {
		//this.log("touchstart");
		e.preventDefault();
		for (var i = 0; i < e.changedTouches.length; i++) {
			var t = e.changedTouches[i];
			switch (this.touches.size) {
				case 0:
				case 1:
					this.touches.set(t.identifier, {
						x: t.screenX,
						y: t.screenY,
						sizeCreated: this.touches.size
					});
					//this.log("touches.size "+this.touches.size);
					break;
				default:
					return;
			}
		}
	};
	this.touchmove = function(e) {
		//this.log("touchmove");
		e.preventDefault();
		for (var i = 0; i < e.changedTouches.length; i++) {
			var te = e.changedTouches[i];
			if (!this.touches.has(te.identifier)) {
				continue;
			}
			var t = this.touches.get(te.identifier);
			var dx = te.screenX-t.x;
			var dy = te.screenY-t.y;
			if (t.moved == undefined && ((dx*dx)+(dy*dy)) < 200) {
				continue;
			}
			switch (this.touches.size) {
				case 1:
					// 1 finger move
					t.moved = true;
					t.preventClick = true;
					this.socket.send(JSON.stringify({
						type: "moverelative",
						data: {
							x: dx,
							y: dy
						}
					}));
					//this.log("action: move [dx,dy]: ["+dx+","+dy+"]");
					break;
				case 2:
					//this.log("scroll "+t.sizeCreated);
					for (var ti of this.touches.entries()) {
						//this.log("set preventClick to "+ti[1].sizeCreated);
						ti[1].moved = true;
						ti[1].preventClick = true;
					}
					this.socket.send(JSON.stringify({
						type: "scroll",
						data: {
							x: dx,
							y: dy
						}
					}));
					//this.log("action: scroll [dx,dy]: ["+dx+","+dy+"]");
					break;
				default:
			}
			t.x = te.screenX;
			t.y = te.screenY;
		}
	};
	this.touchend = function(e) {
		//this.log("touchend");
		//this.log("touches.size "+this.touches.size);
		e.preventDefault();
		for (var i = 0; i < e.changedTouches.length; i++) {
			var te = e.changedTouches[i];
			if (!this.touches.has(te.identifier)) {
				continue;
			}
			var t = this.touches.get(te.identifier);
			switch (this.touches.size) {
				case 1:
					if (t.preventClick == true) {
						break;
					}
					if (t.rightClick == true) {
						//this.log("action: right click");
						this.clickRight();
						break;
					}
					//this.log("action: left click");
					this.clickLeft();
					break;
				case 2:
					for (var ti of this.touches.entries()) {
						//this.log("set rightClick to "+ti[1].sizeCreated);
						ti[1].rightClick=true;
					}
					break;
				default:
			}
			this.touches.delete(te.identifier);
		}
	};
	this.touchcancel = function(e) {
		e.preventDefault();
		this.log("touchcancel");
	};
	this.mousedown = function(e) {
		this.log("mousedown");
	};
	this.mouseup = function(e) {
		this.log("mouseup");
	};
	this.mouseenter = function(e) {
		this.log("mouseenter");
	};
	this.mouseleave = function(e) {
		this.log("mouseleave");
	};
	this.mousemove = function(e) {
		this.log("mousemove");
	};
	this.log = function(t) {
		$("#content .log").prepend("<p>"+t+"</p>");
	};
};
$(function() {
	var touchpad = new Touchpad("#touchpad");
	if (window["WebSocket"]) {
		touchpad.socket = new WebSocket("ws://"+window.location.host+"/ws");
		touchpad.socket.onopen = function(evt) {
			touchpad.log("WebSocket connected");
			touchpad.pad
			//.on("click", function(e){touchpad.click(e)})
			//.on("mouseenter", function(e){touchpad.mouseenter(e)})
			//.on("mouseleave", function(e){touchpad.mouseleave(e)})
			//.on("mousedown", function(e){touchpad.mousedown(e)})
			//.on("mousemove", function(e){touchpad.mousemove(e)})
			//.on("mouseup", function(e){touchpad.mouseup(e)})
				.on("touchstart", function(e){touchpad.touchstart(e)})
				.on("touchmove", function(e){touchpad.touchmove(e)})
				.on("touchend", function(e){touchpad.touchend(e)})
				.on("touchcancel",function(e){touchpad.touchcancel(e)});
		}
		touchpad.socket.onclose = function(evt) {
			touchpad.log("WebSocket closed");
			touchpad.pad.off();
			touchpad.socket = null;
		}
		touchpad.socket.onmessage = function(evt) {
			jsonData = jQuery.parseJSON(evt.data);
			touchpad.log("WebSocket read: <code>"+jsonData+"</code>");
		}
	}
	else {
		touchpad.log("Your browser does not support WebSockets.");
	}
});
		</script>
		<style type="text/css">
body {
	margin:0;
	padding:0;
}

#content {
	position: fixed;
	overflow: hidden;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	background: black;
	color: white;
}

#content .log p {
	margin:0;
}

#touchpad {
	/*box-sizing: border-box;
width: 100%;
height: 70%;*/
	position: absolute;
	top:0;
	bottom:20%;
	left:0;
	right:0;
	border: 1px solid red;
	color: transparent;
}
		</style>
	</head>
	<body>
		<div id="content">
			<div id="touchpad"></div>
			<div class="log"><p>loading...</p></div>
		</div>
	</body>
</html>
